/* Colors */
body {
		background-color: gray;
}

header, footer {
		background-color: sandybrown;
}

nav, aside {
		background-color: wheat;
}

article {
		background-color: oldlace;
}

/* Layout */
html {
		overflow: auto;
}

body {
		margin: 0;
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
}

section {
		display: flex;
		flex: 1;
		flex-direction: column;
}

article {
		flex: 1;
}

:root {
		--media: small;
}

@media print
{
		:root {
				--media: print;
		}

		nav, aside {
				display: none;
		}
}

@page {
		@top-left {
				content: "top-left";
		}
}

@media screen and (min-width: 40rem)
{
		:root {
				--media: medium;
		}

		body {
				position: fixed;
				width: 100%;
				height: 100%;
		}

		section {
				flex-direction: row;
		}

		nav {
				position: relative;
		}

		nav:after, nav.highlight:after {
				position: absolute;
				right: -0.5rem;
				top: 0;
				height: 100%;
				min-width: 0.5rem;
				content: "";
				background-color: white;
		}

		/*
		nav.highlight:after {
				background-color: gold;
		}
		*/

		article {
				margin: 0 0.5rem;
				flex: 3;
		}

		nav, aside {
				flex: 1;
		}
}

