.editable {
		background-color: #F8F8F8;
		padding-left: 0.5ex;
		padding-right: 0.5ex;
}
.editable:focus {
		background-color: #FFFFFF;
}

body {
		margin: 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: gray;
		height: 100%;
 		background-color: #F0F0F0;
}

header, footer {
		background-color: #FFF0F0;
}

#main, nav, article, aside {
		overflow: auto;
}
/* fix: http://codepen.io/anon/pen/ByJVzY */

#main {
		display: flex;
}

article {
}

div#left-handle, div#right-handle {
		padding: 0;
		border-width: 0 0.5em 0 0.5em;
		border-style: solid;
}

div#left-handle {
		border-left-color: #FFFFF0;
		border-right-color: #F0F0F0
}

div#right-handle {
		border-left-color: #F0F0F0;
		border-right-color: #F0FFF0;
}

div#left-handle:hover, div#right-handle:hover {
		background-color: darkgray;
		padding: 0 0.25em 0 0.25em;
		border-width: 0 0.25em 0 0.25em;
}


nav {
		background-color: #FFFFF0;
		width: 20%;
}

aside {
		background-color: #F0FFF0;
		width: 40%;
}

div.info {
		color: black;
}

div.todo {
		color: blue;
}

div.wait {
		color: orange;
}
div.wait:before {
		content: "&#9203;";
}

div.headline {
		color: red;
}

div.node, table.prop, div.desc {
		margin-left: 2em;
}

article > div.node {
		margin: 0;
}

div.head {
		display: flex;
		margin-top: 1ex;
		margin-bottom: 1ex;
		white-space: nowrap;
}

div.head * {
		white-space: normal;
}

div.head > * {
		vertical-align: top;
		display: inline-block;
}

div.head > div.symbol {
		cursor: default;
		width: 2em;
		text-align: center;
}

div.head > div.text {
    word-break: normal;
		max-width: 30em;
}

div.head > div.info {
		margin-left: 1em;
		max-width: 19em;
}

div.head > div.info:empty {
		display: none;
}

div.head > div.info:before {
		content: "(";
}

div.head > div.info:after {
		content: ")";
}

table.prop {
		margin-top: 1ex;
		margin-bottom: 1ex;
		border: 0;
		border-collapse: collapse;
}

table.prop td {
		background-color: #F8F8F8;
}

td + td {
		border-left: 1ex solid #F0F0F0;
}

tr + tr {
		border-top: 3pt solid #F0F0F0;
}

div.desc {
		max-width: 50em;
		background-color: #F8F8F8;
		margin-top: 1ex;
		margin-bottom: 1ex;
}

#box {
		fill:rgb(0,0,255);
		stroke-width:3;
		stroke:rgb(0,0,0)
}

img.calendar {
		height: 1em;
		vertical-align: baseline;
}

#datafile {
		position: absolute;
		top: -6ex;
}
